<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="~/NavTitle.png" />
    <title>@ViewData["Title"] SL Safe</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Test.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="UHome" asp-action="Index"><img src="~/Images/NavTitle.png" width="30" height="30" class="d-inline-block" /><sub class="text-info">SL Safe</sub></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="UEmergencycontact" asp-action="Index">EmergencyContact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="UComplaine" asp-action="Index">Complaine</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Services" asp-action="Index">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="AboutUs" asp-action="Index">AboutUs</a>
                        </li>
                    </ul>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-transparent me-md-2 dropdown-toggle" type="button">English (United States)</button>
                        <div class="dropdown " style="width:150px">
                            <button class="dropbtn">
                                <img src="~/images/user.png" width="40" height="40" class="d-inline-block" style="border: 2px solid #41F29D;border-radius: 25px;" />&nbsp;&nbsp;User Profile &nbsp;&nbsp;
                            </button>
                            <div class="dropdown-content">
                                <li class="nav-item list-unstyled listitem">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="UProfile" asp-action="Index">Edit profile</a>
                                </li>
                                <li class="nav-item list-unstyled listitem">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="UNotification" asp-action="Index">Notification</a>
                                </li>
                                <li class="nav-item list-unstyled listitem">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="UHelp" asp-action="Index">Help</a>
                                </li>
                                <li class="nav-item list-unstyled listitem">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Log Out</a>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            PROTECT & EMPOWER Nations
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
