<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="~/NavTitle.png" />
    <title>@ViewData["Title"] SL Safe</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Test.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="OfficeUserDashboard" asp-action="Index">
    <img src="~/images/NavTitle.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Dashboard
  </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item ms-3" style="width:max-content">
                            Foreign Employment Bureau
                        </li>
                    </ul>
                    <div class=" d-grid gap-3 d-md-flex justify-content-md-end">
                    <a class="align-self-center"><img src="~/images/nationalflag.png" width="23" height="23"/></a>
                    <a class="align-self-center"><img src="~/images/Officenotifications.png" /></a>
                    <a class="align-self-center"><img src="~/images/OfficeMessage.png" /></a>
                    <div class="dropdown">
                        <button class="dropbtn">Austin Robertson <img src="~/images/officeuser.png" width="40" height="40" class="d-inline-block" style="border: 2px solid #41F29D;border-radius: 25px;" /></button>
                        <div class="dropdown-content">
                            <li class="nav-item list-unstyled listitem">
                                <a class="nav-link text-dark" asp-area="" asp-controller="OfficeUserSignIn" asp-action="Index">Log Out</a>
                            </li>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
