@{

}
<html>
<head>
    <style>
        header {
            visibility: collapse;
        }

        footer {
            visibility: collapse;
        }

        body {
            background-image: url('images/officeuserbacground.png');
        }

        .card {
            background-color: rgba(255, 255, 255, 0.2);
        }

        .card:hover{
                background-color: rgba(0, 185, 222, 0.4);
                
        }
    </style>
</head>
<body class="container-fluid">
    <h1 class="text-white text-center">Safety Assurance System for Sri Lankan Migrant Workers</h1>
    <h3 class="text-white text-center ">Registration</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
        <div class="col h-75">
            <a class="text-decoration-none" asp-area="" asp-controller="ImmigrationOfficeUser" asp-action="Index">
            <div class="card h-100">
                <img src="~/images/immigration.png" class="card-img-top mx-auto d-block" style="width: 100px; height: 150px;" />
                <div class="card-body">
                    <h5 class="card-title text-center text-white">Department of Immigration & Emigration </h5>

                </div>
            </div>
            </a>
        </div>
        <div class="col h-75">
            <a class="text-decoration-none" asp-area="" asp-controller="EmbassyOfficeUser" asp-action="Index">
            <div class="card h-100">
                <img src="~/images/Emblem.png" class="card-img-top mx-auto d-block" style="width: 100px; height: 150px;" />
                <div class="card-body">
                    <h5 class="card-title text-center text-white">Embassy / High Commission</h5>

                </div>
            </div>
            </a>
        </div>
        <div class="col h-75">
            <a class="text-decoration-none" asp-area="" asp-controller="AgencyOfficeUser" asp-action="Index">
            <div class="card h-100">
                <img src="~/images/Emblem.png" class="card-img-top mx-auto d-block" style="width: 100px; height: 150px;" />
                <div class="card-body">
                    <h5 class="card-title text-center text-white">Agency</h5>

                </div>
            </div>
            </a>
        </div>
        <div class="col h-75">
            <a class="text-decoration-none" asp-area="" asp-controller="MinistryOfficeUser" asp-action="Index">
            <div class="card h-100">
                <img src="~/images/Emblem.png" class="card-img-top mx-auto d-block" style="width: 100px; height: 150px;" />
                <div class="card-body">
                    <h5 class="card-title text-center text-white">
                        Ministry of Foreign Affairs
                    </h5>
                </div>
            </div>
            </a>
        </div>
        <div class="col h-75">
            <a class="text-decoration-none" asp-area="" asp-controller="ForeignOfficeUser" asp-action="Index">
            <div class="card h-100">
                <img src="~/images/forign.png" class="card-img-top mx-auto d-block" style="width: 100px; height: 150px;" />
                <div class="card-body">
                    <h5 class="card-title text-center text-white">Foreign Employment Bureau</h5>

                </div>
            </div>
            </a>
        </div>
        <div class="col h-75">
            <a class="text-decoration-none" asp-area="" asp-controller="PoliceOfficeUser" asp-action="Index">
            <div class="card h-100">
                <img src="~/images/police.png" class="card-img-top mx-auto d-block" style="width: 100px; height: 150px;" />
                <div class="card-body">
                    <h5 class="card-title text-center text-white">Police Department</h5>
                </div>
            </div>
            </a>
        </div>
    </div>

</body>
</html>