@{
    Layout = "Custom_Layout";
}
<html>
<head>
    <style>
        body {
            background-color: #60C8FD
        }

        footer {
            visibility: collapse;
        }
    </style>
</head>
<body>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a asp-area="" asp-controller="UEmergencycontact" asp-action="Index">
            <button class="btn btn-danger me-md-2 m-1" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                </svg>
                EMERGENY<br />CONTACT
            </button>
        </a>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm text-center">
                <h2 class="text-danger pb-2 pt-1">EMERGENCY CONTACT</h2>
                <h4 class="pb-2">EMERGENCY CONTACT FOR SRI LANKAN SAFE AUTHORITY</h4>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm">
                <h5 class="text-center">
                    WhatsApp Message
                </h5>
                <div class="container text-center mt-4 link p-2 rounded ">
                    <a href="https://wa.me/0702294951" class="text-decoration-none text-black">
                        <div class="row justify-content-md-center">
                            <div class="col">
                                <h6>Foreign Employment Bureau</h6>
                            </div>
                            <div class="col-md-auto">
                                +94 112 880 500
                            </div>
                            <div class="col col-lg-2">
                                <img src="~/images/Whatsapp.png" alt="WhatsApp" height="22" width="auto" />
                            </div>
                        </div>
                    </a>
                </div>
                <div class="container text-center mt-4 link p-2 rounded">
                    <a href="https://wa.me/0112325372" class="text-decoration-none text-black">
                        <div class="row justify-content-md-center">
                            <div class="col">
                                <h6>Ministry of Foreign Affairs</h6>
                            </div>
                            <div class="col-md-auto">
                                +94 112 325 372
                            </div>
                            <div class="col col-lg-2">
                                <img src="~/images/Whatsapp.png" alt="WhatsApp" height="22" width="auto" />
                            </div>
                        </div>
                    </a>
                </div>
                <div class="container text-center mt-4 link p-2 rounded">
                    <a href="https://wa.me/0115329000" class="text-decoration-none text-black">
                        <div class="row justify-content-md-center">
                            <div class="col">
                                <h6>Department of Immigrant & Emigrant</h6>
                            </div>
                            <div class="col-md-auto">
                                +94 115 329 000
                            </div>
                            <div class="col col-lg-2">
                                <img src="~/images/Whatsapp.png" alt="WhatsApp" height="22" width="auto" />
                            </div>
                        </div>
                    </a>
                </div>
                <div class="container text-center mt-4 link p-2 rounded">
                    <a href="https://wa.me/0112432272" class="text-decoration-none text-black">
                        <div class="row justify-content-md-center">
                            <div class="col">
                                <h6>Sri Lankan Police Department</h6>
                            </div>
                            <div class="col-md-auto">
                                +94 112 432 272
                            </div>
                            <div class="col col-lg-2">
                                <img src="~/images/Whatsapp.png" alt="WhatsApp" height="22" width="auto" />
                            </div>
                        </div>
                    </a>
                </div>
                <div class="container text-center mt-4 link p-2 rounded">
                    <a href="https://wa.me/0112430860" class="text-decoration-none text-black">
                        <div class="row justify-content-md-center">
                            <div class="col">
                                <h6>Ministry of Defiance</h6>
                            </div>
                            <div class="col-md-auto">
                                +94 112 430 860
                            </div>
                            <div class="col col-lg-2">
                                <img src="~/images/Whatsapp.png" alt="WhatsApp" height="22" width="auto" />
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm">
                <img class="img-fluid opacity-75" src="~/images/Emergency call-bro.png" alt="Emergency" />
            </div>
        </div>
    </div>
    <br />

</body>
</html>
