@{

}
<html>
<head>
    <style>
        header {
            visibility: collapse;
        }

        footer {
            visibility: collapse;
        }

        body {
            background-image: url('images/officeuserbacground.png');
        }

        .card {
            background-color: rgba(255, 255, 255, 0.2);
        }
    </style>
</head>
<body class="container-fluid">
    <h1 class="text-white text-center">Safety Assurance System for Sri Lankan Migrant Workers</h1>
    <h3 class="text-white text-center ">Foreign Employment Bureau Registration</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-5 justify-content-center">
        <div class="col h-75 ">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title text-center text-white">Office User Register Form</h5>
                    <form class="container-fluid" method="post" asp-controller="ForeignOfficeUserRegistration" asp-action="AddNewRecord" id="AddNewRecord">
                        <div class="modal-body ">
                            <div class="form-group">
                                <input type="text" class="form-control mb-2" name="office_user_name" placeholder="User name" required />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control mb-2" name="office_user_address" placeholder="Address" required />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control mb-2" name="office_user_national_id_number" placeholder="National Id" required />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control mb-2" name="office_user_phone_number" placeholder="Contact Number" required />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control mb-2" name="office_user_gmail" placeholder="Email" required />
                            </div>
                            <div class="form-group">
                                <select class="form-select mb-2" aria-label="Default select example" name="office_user_type" required>
                                    <option selected>Branch of Working</option>
                                    <option value="Colombo">Colombo</option>
                                    <option value="Matara">Matara</option>
                                    <option value="Rathnapura">Rathnapura</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control mb-2" name="office_user_password_hash" placeholder="Password" required />
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-outline-success container-fluid mb-2" id="getLocation">Location On</button>
                            </div>
                            <div class="form-group">
                                <input type="text" id="latitude" class="form-control mb-2" name="department_of_immigrant_latitude" placeholder="Latitude" required />
                            </div>
                            <div class="form-group">
                                <input type="text" id="longitude" class="form-control mb-4" name="department_of_immigrant_longitude" placeholder="Longitude" required />
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary btn_color container-fluid" value="Register" data-bs-target="#AddNewRecord"></input>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
@if (TempData["message"] != null)
{
    <script type="text/javascript">
        window.onload = function () {


            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,

            })

            Toast.fire({
                icon: 'success',
                title: 'You are successfully Registerd !'
            })

        };
    </script>
}
@if (TempData["errormessage"] != null)
{
    <script type="text/javascript">
        window.onload = function () {


            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,

            })

            Toast.fire({
                icon: 'error',
                title: 'Something went wrong!'
            })

        };
    </script>
}
<script>
    var getLoc = document.getElementById("getLocation");
    getLoc.addEventListener('click', event => {
        if ('geolocation' in navigator) {
            navigator.geolocation.getCurrentPosition(pos => {
                let latitude = pos.coords.latitude;
                let longitude = pos.coords.longitude;

                //console.log("The latitude is", latitude);
                //console.log("the longitude is", longitude);
                //console.log(latitude, longitude)
                document.getElementById('latitude').value = latitude;
                document.getElementById('longitude').value = longitude;
            }, error => {
                console.log("Denied by the user", error.code)
            })
        } else {
            console.log("Geolocation not supported");
        }
    })
</script>
</html>
